:root{
    --text:#626262;
    --white:#fff;
    --black:black;
   --background:#2F303A;
   --button:#2196F3;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,p,input,ul,li,img,  button{
    margin: 0;
    padding: 0;
}


.header{
    background-color:var(--white);
}

.header_wrap{
    display: flex;
    flex-direction: row;
}

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-right: 340px;
}

.header_contacts{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.container{
    width: 1200px;
    margin: 0 auto ;
    padding: 0 15px 0 15px;
    border:1px solid orangered;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.15;
}

.logo span{
    color:var(--button);
}

.logo#header{
    margin-right: 93px;
    padding: 24px 0px 25px;
    color:var(--black);
}

.logo#footer{
    margin-right: 80px;
    margin-bottom: 20px;
    padding: 60px 0px;
    color:var(--white);
}

.link{
    transition: 0.2s;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.link#header{
    font-weight: 500;
    color:var(--black);
}

.link#header:hover{
    color:var(--button);
}

.link#header:focus{
    color:var(--button);
}

.link#footer{
    font-weight: 400;
    color:var(--text);
}

.link#footer:hover{
    color:var(--white);
}

.link#footer:focus{
    color:var(--white);
}

.section1{
    background-color:var(--background);
    color:var(--white);
    align-items: center;
    padding: 200px 0px 280px;
}

.sec1_h1{
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order_btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin: auto;
    border: none;
    background-color:var(--button);
    color:var(--white);
    transition: 0.5s;
    display: block;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3);
}

.order_btn:hover{
    color:var(--button);
    background-color:var(--white);
    cursor: pointer;
}

.order_btn:hover{
    color:var(--button);
    background-color:var(--white);
    cursor: pointer;
}

.footer{
    background-color:var(--background);
    color:var(--white);
    padding: 60px
}

.footer_wrap{
    display: flex;
    flex-direction: row;
}

.footer_nav{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.footer_contacts{
    display: flex;
    flex-direction: column-reverse;
}