:root{
    --text:#626262;
    --white:#fff;
    --black:black;
   --background:#2F303A;
   --button:#2196F3;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h2{
    font-family: 'Arial Black', sans-serif
}

h3{
    font-family: 'Arial Black', sans-serif
}

p{
    font-family: Arial, sans-serif
}


.header{
    background-color:var(--white);
}

.header_wrap{
    display: flex;
    flex-direction: row;
}

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_menu{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.header_contacts{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.container{
    width: 1600px;
    margin: 0 auto ;
    padding: 0 15px 0 15px;
    border:1px solid orangered;
}

.logo{
    color:var(--black);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    size: 26px;
    letter-spacing: 3;
    margin-right: 93px;
    padding: 25px 0px;
}

.logo span{
    color:var(--button);
}

.link{
    font-family: Roboto, sans-serif;
    color:var(--black);
    font-weight: 500;
    transition: 0.2s;
}

.link:hover{
    color:var(--button);
}

.section1{
    background-color:var(--background);
    color:var(--white);
    align-items: center;
}

.sec1_h1{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    size: 44px;
}

.order_btn{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin: auto;
    border: none;
    background-color:var(--button);
    color:var(--white);
    transition: 0.5s;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.3);
}

.order_btn:hover{
    color:var(--button);
    background-color:var(--white);
    cursor: pointer;
}